<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Boolzap Web</title>
</head>
<body>
    <div class="outer_container">
        <!-- App Wrapper -->
        <div class="app_wrapper">

            <!-- Root -->
            <div id="root">
                <!-- Top Bar -->
                <div class="top_bar">

                    <!-- Top Left -->
                    <div class="top_left">

                        <div class="user_info">
                            <img src="img/avatar_io.jpg" alt="User Picture">

                            <span class="bold">
                                Nome Utente
                            </span>
                        </div>

                        <div class="actions">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>

                    </div>

                    <!-- Top right -->
                    <div class="top_right">

                        <div class="user_info">

                            <img :src="`img/avatar${contacts[currentActiveContact].avatar}.jpg`" alt="Samuele">
                            <div class="contact_details">
                                <div class="bold">{{ contacts[currentActiveContact].name }}</div>
                                <div class="last_access">Ultimo accesso oggi alle</div>
                            </div>

                        </div>

                        <div class="actions">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>

                    </div>

                </div>
                
                <!-- Main Area -->
                <div class="main_area">

                    <!-- Contacts Area -->
                    <div class="contacts_area">

                        <!-- Notification Banner -->
                        <div class="notification_banner">

                            <div class="icon_container">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            
                            <div class="notification_details">
                                <div class="bold">Ricevi notifiche di nuovi messaggi</div>
                                <a class="activate_notifications" href="#">Attiva notifiche desktop</a>
                            </div>
                        </div>

                        <!-- Search bar Area -->
                        <div class="search_bar_area">
                            <div class="search_bar_wrapper">
                                <label for="">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </label>
                                <div class="search_bar_input">
                                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                                </div>
                            </div>
                            
                        </div>

                        <!-- Contacts area -->
                        <div class="chats_area">
                            <div v-for="(contact, index) in contacts" class="single_chat">
                                <img :src="`img/avatar${contact.avatar}.jpg`" alt="">
                                <div class="contact_name"> {{ contact.name }} </div>
                            </div>
                        </div>
                    </div>

                    <!-- Message Area -->
                    <div class="message_area_wrapper">

                        <div class="messages_container">
                            <div v-for="message in contacts[currentActiveContact].messages" class="message" :class="message.status">
                                {{ message.text }}
                                <div class="date">{{ message.date }}</div>
                            </div>
                            
                        </div>

                        <div class="message_actions">
                            <div>
                                <i class="fa-regular fa-face-smile"></i>
                                <input placeholder="Scrivi un messaggio" type="text">
                            </div>
                            <div>
                                <i class="fa-solid fa-microphone"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>